@import '../../../../css/vars.css';

.root {
  background: #fff;
  a {
    display: block;
  }
  img {
    display: block;
  }
}

.bottom {
  overflow: hidden;
  border-bottom: 1px solid $C9; /*no*/
  > * {
    flex: 1;
    height: 200px;
    border-right: 1px solid $C9; /*no*/
    &:last-child(1) {
      border-right: 0; /*no*/
    }
  }
}
