
$C1: #c9bc9c;
$C2: #a48b78;
$C3: #af1c40;
$C4: #333333;
$C5: #000000;
$C6: #666666;
$C7: #999999;
$C8: #e5e5e5;
$C9: #eeeeee;
$C10: #f4f4f4;

$colorBg: #dddddd;

$H1: 36px;
$H2: 34px;
$H3: 32px;
$H4: 30px;
$H5: 28px;
$H6: 26px;
$H7: 24px;
$H8: 20px;

$BC1: #c9bc9c;
$BC2: #c8d4d7;
$BC3: #18191a;
$BC4: #787b7f;
$BC5: #ced2db;
$BC6: #e5e5e5;
$BC7: #f4f4f4;
$BC8: #ff817b;

$TH1: 58px;
$TH2: 36px;
$TH3: 34px;
$TH4: 32px;
$TH5: 30px;
$TH6: 28px;
$TH7: 26px;
$TH8: 24px;
$TH9: 20px;
